<app-navbar></app-navbar>

                        <!--Component Start -->
                            <div class="container">
                                <router-outlet></router-outlet>
                                <!-- <app-navbar></app-navbar>
                                <app-sandbox2></app-sandbox2> -->
                                <!-- <app-sandbox></app-sandbox> -->
                                <!-- <app-sandbox2></app-sandbox2> -->
                            </div>
                        <!--Component Ends -->
                  

        